body{
	background-color: #000;
}

h1{
	color: #fff;
	font-family:'Ubuntu Condensed', monospace;
	text-align: center;
	font-size: 50px;
	font-weight: 300;
}

.fade-in-title{
	list-style-type: none;
}

.fade-in-title li{
	display:inline-block;
	margin-right: 30px;
	font-family: 'Ubuntu Condensed', monospace;
	color: #fff;
	opacity: 1;
	transition: all 5s ease;
}

.fade-in-title li: last-child{
	margin-right: 0;
}

.fade-in-title.hidden li{
	opacity: 0;
}

